body {
  text-align: center;
  background-color: hsla(180, 100%, 75%, 0.3);
}

/* RANGE */
#gameLimitCard {
  width: 70%;
  border: 1px solid black;
  border-radius: 15px;
  background-color: azure;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

#rangeSpacerTop {
  height: 10vh;
}

#rangeSpacerBot {
  height: 10vh;
}

.gameLimitsForm {
  width: 40px;
}

#resultName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0px;
  padding-top: 10px;
}

#resultBody {
  margin-top: 0px;
}

/* QUESTIONS */
.question {
  width: 30%;
}

.questionsCont {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

/* RESULTS */
.resultsCard {
  width: 30%;
  margin: 15px;
}

#resultsCont {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  flex-direction: row;
  align-items: center;
}

.finalCard {
  width: 100%;
  background-color: hsla(200, 75%, 75%, 0.5);
  align-self: stretch;
}

.correct {
  background-color: hsla(120, 100%, 75%, 0.5);
}

.wrong {
  background-color: hsla(360, 100%, 75%, 0.5);
}

/* UI */
#timer {
  background-color: red;
  color: white;
  width: 200px;
  height: 100px;
  border: 1px solid black;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 1300px) {
  .resultsCard {
    width: 20%;
  }
}

/* MOBILE */
@media only screen and (max-width: 815px) {
  #resultsCont {
    width: 80%;
  }

  .resultsCard {
    width: 40%;
    margin: 15px;
  }

  #gameLimitCard {
    width: 80%;
    flex-direction: column;
    align-items: center;
  }

  #nameInput {
    width: 100%;
  }

  #timer {
    width: 70%;
  }

  .question {
    width: 50%;
  }
}
